@model HelpDeskSystem.Models.Department

@{
    ViewData["Title"] = "Update Department";
}

<h1>Update Department</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedById" />
            <input type="hidden" asp-for="CreatedOn" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="form-group">
                    <a class="btn btn-warning float-start" asp-action="Index"><i class="fadeIn animated bx bx-arrow-back"></i> Back to List</a>
                    <button type="submit" class="btn btn-primary float-end"><i class="fadeIn animated bx bx-save"></i> Update Department</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
